---
import { usePagination } from '@/composables/usePagination'

interface Props {
  total: number
  perPage?: number
  visiblePages?: number
  currentPage?: number
}

const {
  items,
  showPagination,
  currentPage,
  canFirst,
  canPrev,
  canNext,
  canLast,
  firstUrl,
  prevUrl,
  nextUrl,
  lastUrl,
  getUrl,
} = usePagination({
  total: Astro.props.total,
  perPage: Astro.props.perPage,
  visiblePages: Astro.props.visiblePages,
  currentPage: Astro.props.currentPage || Number(Astro.url.searchParams.get('page')) || 1,
  url: Astro.request.url,
})
---

{showPagination && (
  <div>
    {canFirst && <a href={firstUrl}>First</a>}
    {canPrev && <a href={prevUrl}>Previous</a>}
    {items.map(page =>
      page === currentPage
        ? <span>{page}</span>
        : <a href={getUrl(page)}>{page}</a>
    )}
    {canNext && <a href={nextUrl}>Next</a>}
    {canLast && <a href={lastUrl}>Last</a>}
  </div>
)}
